.side-bar {
  background-color: #0015ff;
  min-width: 200px;
}

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.logo{
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}