

h1{
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  color: #4b3dbb;
  
}
.width {
  width: 80px;
}
.tables{
  margin-top: 83px;
  
}

.width2 {
  width: 90px;
}

.border1 {
  border: #0015ff 2px;
  color: rgb(0, 0, 0);
  
  
}
 .pic{
  width: 260px;
  margin-left: 30px;
 }

.h4xl {
  font-size: 20pt;
font-family: Arial, Helvetica, sans-serif;  
}

.bounce {
  opacity: 1;
  position: relative;
  display: inline-block; /* This ensures the block moves as a unit */
  animation: bounceFade 1.5s ease-in-out forwards;
}

@keyframes bounceFade {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateY(-5px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(0);
    opacity: 0.6;
  }
  75% {
    transform: translateY(-5px);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.underline {
  border-bottom: 0.5px solid;
  padding-bottom: 1px;
}




@keyframes slideFromLeft {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  animation: slideFromLeft 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    fadeIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}



.contain {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 576px) {
  .contain {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 992px) {
  .contain {
    padding-left: 90px;
    padding-right: 300px;
  }
}

/* Additional styles for table responsiveness */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

/* Adjust font size and padding for smaller screens */
@media (max-width: 576px) {
  h1 {
    font-size: 40px; /* Smaller font size for h1 on small screens */
    
  }

  .mediawidth{
    width: 50%;
  }
  .btn {
    padding: 3px 6px; /* Smaller padding for buttons */
    font-size: 0.8rem; /* Smaller font size for buttons */
  }

  
}

